@charset "utf-8";
/* font-family: 'Raleway', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');


img{max-width:100%; max-height:100%;}
body{font:18px/30px Arial,sans-serif}
.hide{
  width:0; height:0; 
  font-size: 0; line-height: 0;
  position:absolute; visibility:hidden;}

/* 공통 */
header>div,article>div{
  width:1320px;
  margin:0 auto;
  background-color:darkgoldenrod;
}
#box02,#box03,#box04,#box05,#box06{
  padding:85px 0;
}
div>h3{
  font-size:45px;
  text-align:center;
  margin-bottom:35px;
}
.title{
  font-size:30px;
  margin-bottom:50px;
}
.text{
  margin-bottom:50px;
}

/* header */

/* box01 */

/* box02 */

/* box03 */

/* box04 */

/* box05 */

/* box06 */
