@charset "utf-8";
/* font-family: 'Raleway', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');


img{max-width:100%; max-height:100%;}
body{font:18px/30px Arial,sans-serif}
.hide{
  width:0; height:0; 
  font-size: 0; line-height: 0;
  position:absolute; visibility:hidden;}

/* 공통 */
header>div,article>div{
  width:1320px;
  margin:0 auto;
  /* background-color:darkgoldenrod; */
}
#box02,#box03,#box04,#box05,#box06{
  padding:85px 0;
}
div>h3{
  font-size:45px;
  text-align:center;
  margin-bottom:35px;
}
.title{
  font-size:30px;
  margin-bottom:50px;
}
.text{
  margin-bottom:50px;
}

/* header */
header{
  background-color: #242424;
  padding: 18px 0;
  position: relative; /* 모바일,타블렛 버튼을 위한 포지션 */
}

header>div{
  /* background-color: aqua; */
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
}
header>div>h1>a{
  font-size:30px;
  font-weight: bolder;
  color:white;
}
header>#btn{
  width:30px; height:30px;
  position:absolute;
  top:18px; right:18px;
  background-color:red;
  display:none;
}


/* nav */
nav{}
nav>ul{
  display: flex;
  align-items: center;
  justify-content:flex-end;
}
nav>ul>li{
  margin-left:45px;
  color: white;
  text-transform: uppercase;
}
nav>ul>li>a{
  color:white;
}
nav>p.close{}


/* box01 */
#box01{
  height:calc(100vh - 70px);
  position:relative;
  /* overflow: hidden; */
}
#box01>h2{
  width:676px; height:280px;
  position: absolute;
  top:50%; left:50%;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  font: 70px/70px 'Raleway',sans-serif;
  text-align: center;
  color:white;
  align-items: center;
  font-weight: lighter;
  margin: -140px 0 0 -338px;  /* width,height의 50%를 옮겨줘야 중앙으로 온다. */
}
#box01>ul{
  width:400%; height:100%;
  display: flex;
  flex-wrap:wrap;
}
#box01>ul>li{
  width:25%; height:100%; 
  /*     ↑ 부모요소 기준에서 100%가 되기때문에 1/4인 25%로 해줘야함. */
  background:url('../images/blue.jpg') no-repeat center top;
  background-size: 100%;
  text-indent: -9999px; /* 글씨 없애주기~ */
}
#box01>ul>li.img02{background: url('../images/pink.jpg') no-repeat;}
#box01>ul>li.img03{background: url('../images/purple.jpg') no-repeat;}
#box01>ul>li.img04{background: url('../images/green.jpg') no-repeat;}
#box01 p.prev{
  position: absolute;
  left:50px; top:50%;
  width:30px; height:40px;
  border: 4px solid orange;
  /* margin-top: -20px;  -> 정 가운데로 맞추고 싶으면 하기*/
}
#box01 p.next{
  position: absolute;
  right:50px; top:50%;
  width:30px; height:40px;
  border: 3px solid orange;
    /* margin-top: -20px;  -> 정 가운데로 맞추고 싶으면 하기*/
}

#box01 p.no{
  /* background-color: aqua; */
  position: absolute;
  bottom: 30px; right:100px;
}
#box01 p.no>a{
  border-radius: 50%;
  background-color:white;
  width:20px; height:20px;
  display: inline-block;
  margin: 0 10px;
  text-indent: -9999px; /* 글씨 없애주는 용도 */
}

/* box02 */
#box02>div{
  width:980px; height:360px;
  /* background-color: aqua; */
  margin: 0 auto;
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#box02>div>dl{
  /* width:268px; */
  width:27.3469387755102%; /* 268/980*100 */
  /* background-color: ; */
  text-align:center;
  padding:140px 0 54px;
  color:white;
  font-family: 'Raleway',sans-serif;
  font-weight: lighter;
  background:#9c9491 url('../images/header_icon_01.png') no-repeat center 62px;
}
#box02>div>dl:nth-child(3){background-image: url('../images/header_icon_02.png');}
#box02>div>dl:nth-child(4){background-image: url('../images/header_icon_03.png');}
#box02>div>dl>dt{
  margin-bottom:50px;
  font-size:20px;
}
#box02>div>dl>dd{
  width:80%;
  margin: 0 auto;
}

/* box03 */
#box03{
  background-color: #e8e8e8;
  font-family:'Raleway',sans-serif;
}
#box03>div{}
#box03>div>div{
  /* background-color: brown;  */
  /* width:1100px; */
  width:98%;
  margin:0 auto;
  padding-left:440px;
  box-sizing:border-box;
  position:relative;
}
#box03>div>div>figure{
  position:absolute;
  left:0; top:0;
}
#box03>div>div>div>.title{
  text-transform: uppercase;
}
#box03 .button{
  text-align: right;
}
#box03 .button>button{
  width:196px; height:54px;
  border-radius: 27px;
  background-color:#9c9491;
  border:none;
  /* box-sizing: border-box; */
}

/* box04 */
#box04>div>div{
  display:flex;
  flex-wrap:wrap;
}
#box04>div>div>div{
  width:50%;
  /* background-color: aquamarine; */
}
#box04>div>div>div>.text{
  /* widtH:490px; */
  width:74.24242424242424%; /* 1320/2=660, 490/660*100 */
}
#box04>div>div>ul{
  width:50%;
}
#box04>div>div>ul>li{
  width:80px; height:80px;
  border:2px solid #cac6c4;
  margin:0 9px 18px;
  float:left;
  text-indent: -99999px;
  background: url('../images/icon/html5.png') no-repeat center;
}
#box04>div>div>ul>li:nth-child(2){background-image: url('../images/icon/css3.png');}
#box04>div>div>ul>li:nth-child(3){background-image: url('../images/icon/javascript.png');}
#box04>div>div>ul>li:nth-child(4){background-image: url('../images/icon/jquery.png');}
#box04>div>div>ul>li:nth-child(5){background-image: url('../images/icon/git.png');}
#box04>div>div>ul>li:nth-child(6){background-image: url('../images/icon/vue.png');}
#box04>div>div>ul>li:nth-child(7){background-image: url('../images/icon/sass.png');}
#box04>div>div>ul>li:nth-child(8){background-image: url('../images/icon/react.png');}
#box04>div>div>ul>li:nth-child(9){background-image: url('../images/icon/typescript.png');}
#box04>div>div>ul>li:nth-child(10){background-image: url('../images/icon/bootstrap.png');}
#box04>div>div>ul>li:nth-child(11){background-image: url('../images/icon/npm.png');}
#box04>div>div>ul>li:nth-child(12){background-image: none}

/* box05 */
#box05{
  background-color:#c3c3c3;
  color:white;
  text-align:center;
  /* padding-bottom:30px; */
}
#box05>div>h3{margin-bottom:50px;}
#box05>div>.text{
  width:60%;
  margin:0 auto 50px;
}
/* #box05>div>ul{
  margin:0 auto 50px;
  width:30%;
}
#box05>div>ul>li{
  float:left;
  text-align: center;
  padding: 0 20px;
  border-right: 1px solid white;
} */
#box05>div>ul{
  display: flex;
  justify-content: center;
  margin-bottom:50px;
}
#box05>div>ul>li{
  text-align: center;
  padding: 0 20px;
  border-right: 1px solid white;
}
#box05>div>ul>li:last-child{border:none;}
#box05>div>ul>li>a{
  color:white;
}
#box05 #all{
  display: flex;
  flex-wrap:wrap;
  justify-content: space-around;
}
#box05 #all>figure{
  /* width:calc(33.3333% - 18px); */
  margin-bottom:50px;
}
#box05 #all>figure>figcaption>img{
  margin-bottom:30px;
}
/* 버튼군단 */
#box05 #prev{}
#box05 #next{}

/* box06 */
