@charset "utf-8";

@media screen and (min-width:1330px){
  header>div,article>div{
    width:1320px;
  }
  #box03>div>div{
    width:1100px;
  }
  #box06>div>div{
    width:1100px;
  }
  #box02>div{
    width:980px;
  }
  /*  */
} 

@media screen and (max-width:1329px) and (min-width:1150px){
  #box03>div>div{
    width:1100px;
  }
  #box06>div>div{
    width:1100px;
  }
  /*  */
}

@media screen and (max-width:1149px) and (min-width:990px){
  #box02>div{
    width:980px;
  }
  /*  */
}

@media screen and (max-width:989px) and (min-width:580px){

  /* header */
  header{
    position: fixed;
    left:0; top:0;
    width:100%;
    z-index: 700;
  }
  header>div{
    display: block;
    text-align: center;
  }

  /* nav */
  nav{
    position:fixed;
   /*  left:0;  */left:-400px; top:0;
    width:400px; height:100%;
    padding:0 40px;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0.8);
  }
  nav>ul{
    width:100%; height:100%;
    flex-direction: column;
    /* align-items: center; */
    justify-content:center;
  }
  nav>ul>li{
    width:100%;
    margin-left:0px;
    border-bottom: 1px solid white;
  }
  nav>ul>li>a{
    line-height: 60px;
  }
  nav>p.close{
    display: block;
  }

  /* box01 */
  #box01{
    height:100vh;
  }
  #box01>h2{
    width:100%;
    position: absolute;
    top:50%; left:0;
    border:none;
    margin: -140px 0 0 0px;
    font-size:50px;
  }

  #box01>ul>li{
    background-size:auto 100%;
  }
  #box01 p.prev{
    position: absolute;
    left:50px; top:50%;
    width:30px; height:40px;
    border: 4px solid orange;
    /* margin-top: -20px;  -> 정 가운데로 맞추고 싶으면 하기*/
  }

  /* box02 */



  /*  */
}

@media screen and (max-width:579px) and (min-width:230px){

  /*  */
}